@font-face {
  font-family: 'Aclonica';
  src: url('../fonts/Aclonica-Regular.woff2') format('woff2'),
      url('../fonts/Aclonica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



*:root{
  --primary-color: #b0116d;
  --secondary-color: #e9967a;
  --bgLight: #f5f5f5;
  --background-color: #1a1a18;
  --dullBlack:#2b2a28;
  --grey:#b2b4b3;
  --darkGrey: #898989;
  --brandHover:#ca1e83;
  --lightPink:#f0508c;
}


* {
  box-sizing: border-box ;
}

body {
  margin: 0;
  font-family: 'Playfair Display';
  letter-spacing: 1px;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}


p{
  color: #5b5e61;
  line-height: 24.6px;
}


.display-4 {
  font-family: 'Aclonica';
  letter-spacing: 2px;
  margin-bottom: 20px;
}


.secH {
  font-family: 'Aclonica';
  font-size: 42px;
  position: relative;
  line-height: 52px;
  margin-bottom: 30px;
}

.therdH {
  font-family: 'Aclonica';
  font-size: 34px;
  line-height: 40px;
  margin: 0 0 20px;
}

.fourthH {
  font-family: 'Aclonica';
  font-size: 24px;
  text-transform: capitalize;
  line-height: 30px;
  position: relative;
}

.fifthH {
  font-family: 'Aclonica';
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
}

.bodysmall{
  font-size: 14px;
}

.faded{
  color: var(--fade);
}
.miniHeader .container{
  position: relative;
  isolation: isolate;
}



.achorAbs{
  position: absolute;
  height: 100%;
  width: 100%;
  display: inline-block;
}


/* Initial header styling */

#main-header {
  transition: all 0.5s ease;
  z-index: 1055;
  position: relative;
}

/* Hidden when out of view */
.sticky-header {
  position: fixed;
  top: -112.48px; /* Hidden initially */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
  transition: top 0.5s ease; /* Slide down animation */
  animation: slideDown 0.5s ease-in-out both;
}

@keyframes slideDown {
  0% {
    position: fixed;
    top: -112.48px;
  }
  100% {
    position: fixed;
    top: 0;
  }
}
.headerAnimate {
  animation: slideUp 0.5s ease-in-out both;
}

@keyframes slideUp {
  0% {
    top: 50.48px;
    position: relative;
  }
  100% {
    top: 0px;
  }
}
.sticky-header.visible {
  top: 0; /* Slide into view */
}

.navbar-toggler{
  border: none;
}
.navbar-toggler:focus {
  box-shadow:none;
}

.navbar-brand {
  display: inline-block;
  margin-right: 45px;
  padding-right: 10px;
  width: 134px;
  position: relative;
}


.navbar-nav .nav-link{
  font-weight: 600;
  font-size: 13px;
  color: var(--background-color);
  text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.navbar-nav .nav-link.active:hover,
.navbar-nav .show > .nav-link {
  color: var(--primary-color);
}
.navbar-nav .nav-link.active{
position: relative;
color: var(--primary-color);
}


.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
 
}

.dropend .dropdown-toggle::after {
  content: "\f054";
  position: absolute;
  right: 8px;
  top: 28px;
  transform: translateY(-50%);
  font-size: 10px;
  line-height: 1;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  border: none;
}
.dropdown-toggle::after {
  content: "\f107";
  font-size: 14px;
  line-height: 1;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  border: none;
}
.navbar-nav {
  gap: 20px;
}
.dropdown-item {
  font-size: 13px;
  padding: 12px 20px;
  color: var(--darkGrey);
  text-transform: capitalize;
  border-bottom: 1px solid var(--grey);
  background-color: transparent;
  transition:  background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--lightBgCream);
  color: var(--background-color);
}
.dropdown-menu {
  padding: 0;
  border-radius: 0;
  border: none;
  border-top: 4px solid var(--primary-color);
  box-shadow: 0 4px 18.3px 0 rgba(0, 0, 0, 0.13);
}

.navbar{
  border-top: 10px solid var(--primary-color);
}

.navbar > .container {
  position: relative;
}


/* header css end */


/* banner css start */

#ca1.owl-carousel {
  overflow-x: hidden;
}


.Banner .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
}
.Banner .owl-nav button {
  pointer-events: initial;
  height: 57px;
  width: 60px;
  background-color: var(--skyblue) !important;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--lightGrey) !important;
}
.Banner .owl-nav button:hover{
  background-color: var(--green) !important;
}
.Banner .owl-nav button span{
  display: inline-block;
  transform: translateY(-4px);
}
.Banner .owl-carousel .owl-nav button.owl-prev {
 
  padding: 0 15px !important;
  font-size: 55px;
  transition: transform 0.3s ease-in-out;
}

.Banner .owl-carousel .owl-nav button.owl-next {
 
  padding: 0 15px !important;
  font-size: 55px;
  transition: transform 0.3s ease-in-out;
}

.Banner .owl-nav .owl-prev i {
  margin-right: 10px;
}
.Banner .owl-nav .owl-next i {
  margin-left: 10px;
}
.Banner .therdH{
  font-family: 'Playfair Display';
  font-weight: normal;
}

.container-fluid {
  max-width: 1780px;
}

.Banner .owl-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.Banner .owl-dots {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.Banner .owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  display: inline-block;
  background: #ffffff79;
  margin: 4px 0px;
}
.Banner .owl-dots button.owl-dot.active {
  background-color: #ffffff;
}
.Banner .owl-dots button.owl-dot:focus {
  outline: none;
}

#ca1.owl-carousel .item {
  padding: 80px 12px;
  background-color: red;
  height: calc(100vh - 110.3px);
  position: relative;
}

#ca1.owl-carousel .item>.container{
position: absolute;
width: 100%;
left: 0;
right: 0;
margin: auto;
top: 50%;
transform: translateY(-50%);
}

#ca1.owl-carousel .item1 {
  background: linear-gradient(#0000008c, #0000008c), url("../image/Home/BannerImg1.webp") no-repeat center;
  background-size:cover;
}
#ca1.owl-carousel .item2 {
  background:linear-gradient(#0000008c, #0000008c), url("../image/Home/BannerImg2.webp")
    no-repeat center;
  background-size:cover;
}

#ca1.owl-carousel .item3 {
  background: linear-gradient(#0000008c, #0000008c), url("../image/Home/BannerImg3.webp") no-repeat center;
  background-size:cover;
}



.bannerCard {
  margin: auto;
}

.bannertext1 {
  border-radius: 25px;
}
.bannertext1 p {
  margin-bottom: 0;
  color: #ffffff;
}

.bannertext1 .display-4 a {
  color: #ffffff;
}


#ca1.owl-carousel .item2 .bannerCard {
  margin: auto;
}

#ca1.owl-carousel .bannerCard {
  opacity: 0; /* Default state: visible */
}

#ca1 .owl-item.active .bannerCard {
  animation: animate__fadeInUp 1s  0.5s ease both;
}

@keyframes animate__fadeInUp {

    0% {
      -webkit-transform: translateY(200px);
              transform: translateY(200px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  
}

.fillBtn{
  display: inline-block;
  text-transform: capitalize;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 100px;
  margin-top: 20px;
  transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out;
}

.fillBtn:hover{
  color: #fff;
  background-color: var(--brandHover);
}

.defaultPadding{ 
  padding: 70px 0;
}




/* whatsapp fab */
.fab-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  z-index: 1000;
}

.Call-fab-container {
  position: fixed;
  bottom: 94px;
  right: 24px;
  cursor: pointer;
  z-index: 1000;
}

/* banner css end */

/* footer section start */



.footerWrapper.defaultPadding{
  padding: 40px 0;
}
.footer .footer-brand {
  display: inline-block;
  width: 60%;
  min-width: 150px;
  margin-bottom: 16px;
}
.footer .fourthH {
  margin-bottom: 18px;
}
.footer .container > .row {
  justify-content: space-between;
}
.exploreLinks a i {
  margin-right: 8px;
  font-size: 15px;
  color: var(--primary-color);
}
.exploreLinks a{
  font-weight: 600;
  color: var(--background-color);
  transition: color 0.3s ease-in-out;
}
.exploreLinks a:hover{
  color: var(--primary-color);
}


.footer .emailSec,.footer .exploreLinks,.footer .exploreLinks1{
  text-align: center;
}
.emailSec h6{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.footer .exploreLinks ul li{
  text-align: left;
  }
.contact-info {
  text-align: left;
}
.contact-info li:not(.contact-info li:first-of-type){
  margin-top: 16px;
}
.footer ul {
  margin: auto;
}

.footer .exploreLinks ul {
  margin: auto;
}

.footer ul {
  list-style: none;
  display: inline-block;
  margin-bottom: 0;
  padding-left: 20px;
}
.footer ul li {
  margin-bottom: 5px;
}
.footer ul li:last-child {
  margin-bottom: 0;
}

.emailSec{
  min-width: 310px;
}
.emailSec a{
  color: var(--background-color);
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}
.emailSec a:hover{
  color: var(--primary-color);
}
.emailAnchor{
  display: inline-block;
  min-width: 241px;
}

.locationLink {
  display: inline-block;
  position: relative;
}


.footer p{
  margin-bottom: 0;
}


/* copyright */
.f-bottom {
  background: var(--background-color);
  padding: 20px 0;
  color: #ffffff;
  border-bottom: 10px solid var(--primary-color);
}
.f-bottom .row {
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}
.social-links{
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.social-links i{
font-size: 24px;
vertical-align: top;
color: var(--primary-color);
transition: color 0.3s ease-in-out;
}
.social-links a:hover i{
  color: var(--brandHover);
}

.copyright b{
  color: var(--lightPink);
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;  
}
.copyright b:hover{
 color:#fc6ca1;
 ;
}



/* footer section End */


/* HOW WE WORK section start */
.secH{
text-align: center;
}
.secH span{
  font-family: 'Playfair Display';
  color: var(--darkGrey);
}

.workCard{
  width: 400px;
  max-width: 400px;
  padding: 15px;
  text-align: center;
  position: relative;
}
.workCard .fifthH{
  margin-top: 12px;
  margin-bottom: 20px;
  position: relative;
}
.workCard .fifthH::after{
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  border-bottom: 2px solid #b0116d;
  width: 52%;
}
.howWeWork .col-auto.ms-auto{
  margin-right: 10%;
}
.howWeWork .col-auto.me-auto{
  margin-left: 10%;
}

.workCard.rightworkcard::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 104%;
  border-top: 3px dashed #b0116d;
  border-left: 3px dashed #b0116d;
  height: calc(50% + 10px);
  width: 100%;
}
.workCard.leftworkcard::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 104%;
  border-top: 3px dashed #b0116d;
  border-right: 3px dashed #b0116d;
  height: calc(50% + 10px);
  width: 100%;
}

.howWeWork .row:last-child .workCard.rightworkcard::after{
  display: none;
}
/* HOW WE WORK section end */

/* section Divider1 start  */
.sectionDivider1{
  background-color: var(--dullBlack);
  color: var(--lightPink);
  text-align: center;
}
.sectionDivider1 .secH{
  margin-bottom: 0;
  font-weight: normal;
}
.sectionDivider2{
  padding: 40px 0;
  background-color: var(--primary-color);
  color:#ffffff ;
}
.sectionDivider2 p{
  color: #ffffff;
}
.sectionDivider2 .fourthH{
  display: table;
  margin-bottom: 0;
  margin-left: auto;
}
.sectionDivider2 .fourthH img{
  width: 34px;
  margin-top: -8px;
}
.sectionDivider2 .fourthH a{
  color: #ffffff;
}
/* section Divider1 end */


/* .WORKING AREAS section start */
.workingAreas{
  text-align: center;
  color: #ffffff;
  background: linear-gradient(#0000008c, #0000008c), url("../image/Home/working_areas_background_image.webp") no-repeat center;
  background-size: cover;
}
.workingAreas .secH span{
  color: var(--grey);
}

.paraWidth{
  max-width: 750px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.labelDesign{
  padding: 15px 20px;
  background-color: var(--primary-color);
}
.labelDesign p.fifthH{
  margin-bottom: 0;
  color: var(--background-color);
  font-weight: 600;
  font-family: 'Playfair Display';
}

.hoverImg{
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 0px;
  border: 0px solid #ffffff;
  transition: border 0.3s ease-in-out,border-radius 0.3s ease-in-out;
}
.hoverImg img{
  aspect-ratio: 1;
  object-fit: cover;
  scale: 1.1;
  transition: scale 0.3s ease-in-out;
}
.workingAreasCards:hover .hoverImg{
  border-radius: 8px;
  border: 5px solid #ffffff;
}
.workingAreasCards:hover .hoverImg img{
  scale: 1;
}
.workAreasTitle {
  padding: 20px;
  padding-bottom: 0;
  margin-top: -80px;
}
.workAreasTitle .fourthH{
  padding: 40px 20px;
  color: var(--primary-color);
  background-color: #ffffff;
  margin-bottom: 0;
}
.workingAreas .row{
  justify-content: center;
  row-gap: 24px;
}

/* WORKING AREAS section end */



/* form section start */

.formPart {
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
}
.ContactForm input:not(.form-check-input),
.ContactForm textarea {
  width: 100%;
  height: auto;
  border-radius: 0;
  padding: 0 0 4px 0;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #0000001a;
  background-color: #02010100;
  margin-bottom: 24px;
}
.ContactForm .form-control:focus {
  background-color: #02010100;
  border-color: #0000001a;
  outline: 0;
  box-shadow: none;
}
.ContactForm .form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none;
}
.ContactForm textarea {
  resize: none;
}
.ContactForm textarea:focus-visible {
  outline: none;
}
.ContactForm button {
  border: none;
}

.ContactForm .input-group > .form-control,
.input-group > .form-floating,
.input-group > .form-select {
  padding: 0 0 20px 0;
}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
  box-shadow: none;
}
.formSection{
  background-color: var(--dullBlack);
}
.formSection .modal-header {
  justify-content: center;
  position: relative;
}
.formSection .modal-header .btn-close {
 margin: 0 !important;
 position: absolute;
 right: 14px;
 top: 14px;
}


.options {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.option {
  border: none;
  background: none;
  cursor: pointer;
}

.option img {
  width: 50px;
  height: 50px;
}


/* form section end */



/*---------------
   About Page
----------------*/


.NewBanner {
  padding: 140px 12px;
  color: #ffffff;
}
.NewBanner.ourCompanyPage0{
  background: linear-gradient(to right, #0000009d,#0000009d), url('../image/OurCompany/budding_designer.webp') no-repeat center ;
  background-size: cover;
}
.NewBanner.projectsPage0{
  background: linear-gradient(to right, #0000009d,#0000009d), url('../image/Projects/ProjectsBanner.webp') no-repeat center ;
  background-size: cover;
}

.NewBanner .display-4 span{
  font-family: 'Playfair Display';
}


/* ABOUT OUR COMPANY section start */
.aboutOurComp{
  background:linear-gradient(to right, #ffffff8a,#ffffff8a), url('../image/OurCompany/about_our_company_backgrond.png') no-repeat center ;
  background-size: cover;
}
.aboutOurComp.designer_KRUTIKA{
  background: none;
}
.aboutOurComp h2.therdH{
  color: var(--primary-color);
  padding-bottom: 16px;
  margin-bottom: 40px;
  border-bottom: 4px solid var(--primary-color);
}

.aboutOurComp .fourthH{
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Playfair Display';
  font-weight: 600;
}
.aboutOurComp p{
  font-size: 18px;
}
.aboutOurComp .imgpart1 p{
text-align: center;
padding-bottom: 16px;
margin-top: 20px;
margin-bottom: 40px;
border-bottom: 4px solid var(--primary-color);
}
.imgwrapp1{
  width: 80%;
  margin: auto;
}
/* ABOUT OUR COMPANY section end */


/*---------------
   Projects Page
----------------*/


/* portfolio section  start */
.portfolio-item{
  padding: 10px;
  border: 2px solid var(--lightPink);
  position: relative;
}
.portfolio-item img{
  aspect-ratio: 1;
  object-fit: cover;
}
.portfolioRow{
  row-gap: 24px;
  justify-content: center;
}
.content {
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transition: all 2.25s ;
  padding: 5em;
  background-color: #db4d81e3;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotate3d(1, -1, 0, 100deg);
  transform: rotate3d(1, -1, 0, 100deg);
  opacity: 0;
  transform-style: preserve-3d;
}

.portfolio-item:hover .content {
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
  opacity: 1;
}


.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transform-style: preserve-3d;
  -webkit-transform: translateY(0%) translateZ(80px) translateX(-80px) scale(.94);
  backface-visibility: hidden;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.back p{
  color: #ffffff;
}
.portfolio-item:hover .back{
  -webkit-transform: translateY(0%) translateZ(80px) translateX(0px) scale(.94);
}

.portfolioBtn{
  display: inline-block;
  padding: 6px 16px;
  background-color: #fff;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}
.portfolioBtn:hover{
color: var(--lightPink);
}


.description {
  font-size: 28px;
  line-height: normal;
  font-family: 'Aclonica';
  transform: translateZ(3rem);
}


/* portfolio section end */


/*-----------------------------
  Portfolio Description Page
-----------------------------*/

.gallery .container>.row{
  row-gap: 24px;
}
.spotlight{
  padding: 10px;
  border: 2px solid var(--lightPink);
  position: relative;
  display: inline-block;
  aspect-ratio: 1;
  position: relative;
}
.spotlight:hover .content {
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
  opacity: 1;
}
.spotlight:hover .back{
  -webkit-transform: translateY(0%) translateZ(80px) translateX(0px) scale(.94);
}
.spotlight .content{
  background-color:#db4d819d ;
}

.spotlight .back i{
color: #ffffff;
font-size: 34px;
}

.spotlight img{
  aspect-ratio: 1;
  object-fit: cover;
}

.spl-footer{
  display: none;
}
